body {
    overflow: hidden;
    margin: 0 auto;
    background-color: black;
}
.menu-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    padding: 0 12px;
}

.menuItem {
    height: 40px;
    width: 100px;
    background: rgba(26, 90, 128, 0.6);
    cursor: pointer;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.menuCounter {
    cursor: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: aliceblue;
}
.menuBtn {
}
.menuBtn:hover,
.startBtn:hover {
    background: rgba(36, 80, 128, 0.8);
    color: azure;
}
.startBtn {
    border-radius: 10%;
    width: 220px;
    background: rgba(26, 90, 128, 0.6);
    height: 90px;
    font-size: 24px;
    position: absolute;
    top: calc(50% - 110px);
    left: calc(50% - 60px);
}
.startBtn.hide {
    display: none;
}
